@inject Blazored.Modal.Services.IModalService Modal

<div class="modal-body text-center">
    <h5>Como você deseja se cadastrar?</h5>
    <div class="d-flex justify-content-center gap-3 mt-4">
        <button class="btn btn-success" @onclick='() => SelecionarTipo("doador")'>Sou Doador</button>
        <button class="btn btn-primary" @onclick='() => SelecionarTipo("ong")'>Sou ONG</button>
    </div>
</div>

@code {
    [CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private async Task SelecionarTipo(string tipo)
    {
        await BlazoredModal.CloseAsync(ModalResult.Ok(tipo));
    }
}
