.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: #ffffff;
}

.sem-padding {
    padding: 0 !important;
    margin: 0 !important;
}

.top-row {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1.5rem;
    gap: 1rem;
}

    .top-row a:focus:not(:focus-visible),
    .top-row .btn-link:focus:not(:focus-visible) {
        outline: none;
        box-shadow: none;
    }


